#logo{
    height: 40px;
    margin-right: 10px;
}

.enlace_header{
    text-decoration: none;
    color: black;
    padding-right: 20px;
}

.encabezado{
    background-color: rgb(91, 149, 216);
}
.encabezado a:hover{
    color: white;
}

.nav-link{
    color: black;
}

.d-item{
    height: 400px;
}

.d-image{
    height: 100%;
}

body{
    background-color: whitesmoke;
    font-family: sans-serif;
}

.boton_regreso{
    background-color: rgb(91, 149, 216);
    border-radius: 8px;
}
.boton_regreso a:hover{
    color: white;
}

.enlaces_boton{
    color: black;
    text-decoration: none;
}

