*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
#logo{
    height: 40px;
    margin-right: 10px;
}

.enlace_header{
    text-decoration: none;
    color: white;
    padding-right: 20px;
}

.encabezado{
    background-color: #5d9dc9;
}
.encabezado a:hover{
    color: black;
}

.nav-link{
    color: white;
}


#nav_bar{
    background-color: rgba(0,116,200,255);
}

.d-item{
    height: 500px;
}

.d-image{
    height: 100%;
}

body{
    background-color: whitesmoke;
    font-family: sans-serif;
}

.boton_regreso{
    background-color: rgba(0,116,200,255);
    border-radius: 8px;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;  
}
.boton_regreso a:hover{
    color: white;
}

.enlaces_boton{
    color: white;
    text-decoration: none;
}
#enlace_active{
    color: black;
}

.imagen-logo{
    width: 25%;
    height: 25%;
}

.pie{
    width: 100%;
    /*background-color: rgb(91, 149, 216)*/;
    background-color: rgba(0,116,200,255);
    color: white;
}
.logo_pie{
    width: 100%;
    max-width: 800px;
    margin: auto;
    display: grid;
    grid-gap: 50px;
    padding: 15px 0px;
}

#imagen_pie{
    width: 100px;
} 

.rrss a{
    text-decoration: none;
    height: 50px;
    width: 50px;
    line-height: 50px;
    color: white;
}

.carrito_box{
    padding-right: 15px;
}
.carrito_box a{
    text-decoration: none;
    color: black;
}
.carrito_box a:hover{
    color: white;
}
#carrito{
    width: 20px;
    
}

.user_box{
    padding-right: 15px;
}
.user_box a{
    text-decoration: none;
    color: black;
}
.user_box a:hover{
    color: white;
}

.enlace_med{
    text-decoration: none;
}

/*----------------*/
.carta{
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius:15px;
    justify-content:space-between;
    padding: 10px;
    text-align:center;
}

.imagen_card{
    width: 50%;
}
.enlace_card{
    background: rgba(0,116,200,255);
    border-radius:0 0 15px 15px;
    padding: 10px;
    text-align:center;
}
.enlace_card a{
    color: white;
    text-decoration: none;
}

.thumbnail{
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius:15px;
    justify-content:space-between;
    padding: 10px;
    text-align:center;
}
.descuento{
    color: red;
}

